html, body {
   margin:0;
   padding:0;
   height:100%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 60px;
}

div.page {
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100%;
	width: 100%;
	background-color: #333;
	color: #aaa;
}

div.formContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	height: calc(100% - 20px);
	width: 100%;
	overflow-x: hidden;
}

div.subForm {
	position: absolute;
	top: 0px;
    left: 0px;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-transition: left .4s ease, visibility 0s linear;
	-moz-transition: left .4s ease, visibility 0s linear;
	-o-transition: left .4s ease, visibility 0s linear;
	transition: left .4s ease, visibility 0s linear;
}

div.subForm.hidden {
    left: 100%;
    visibility: hidden;
    -webkit-transition: left .4s ease, visibility 0s linear .4s;
    -moz-transition: left .4s ease, visibility 0s linear .4s;
    -o-transition: left .4s ease, visibility 0s linear .4s;
    transition: left .4s ease, visibility 0s linear .4s;
}

div.subForm h1 {
	text-align: center;
}

div.formSelect {
	margin: 0 auto;
	text-align: center;
	left: 0px;
}

div.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #444;
	text-align: center;
	height: 20px;
	z-index: 100;
}
div.footer a {
	color: #acc;
	text-decoration: none;
}

table.buttonTable {
	margin: 0 auto;
}

button.curved {
	-webkit-appearance: none;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-transition: border .25s linear, background-color .15s linear;
	-moz-transition: border .25s linear, background-color .15s linear;
	-o-transition: border .25s linear, background-color .15s linear;
	transition: border .25s linear, background-color .15s linear;
	
	-webkit-backface-visibility: hidden;
	
	cursor: pointer;
	
	position: relative;
}

input[type="submit"].rounded {
    -webkit-transition: border .25s linear, background-color .15s linear;
    -moz-transition: border .25s linear, background-color .15s linear;
    -o-transition: border .25s linear, background-color .15s linear;
    transition: border .25s linear, background-color .15s linear;
}

button.backButton {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 150px;
	
	border: 2px solid #ccc;
	background-color: #333;
	color: #aaa;
	font-size: 30px;
	
	padding: 5px 0px;
	padding-right: 6px;
	margin-bottom: 10px;
	text-indent: 6px;
}

button.selectButton {
	background-color: #333;
	border: 2px solid #ccc;
	color: #aaa;
	
	width: 400px;
	
	font-size: 50px;
	
	padding: 5px 0px;
	padding-right: 6px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	text-indent: 6px;
}

button.selectButton:hover, button.backButton:hover, input[type="submit"].rounded:hover {
	background-color: #222;
}